/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#134d71,#78a7c6, #f7e4bf);
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
}

body {
font-family: 'Quicksand', sans-serif;
}

/* h1 {
  font-size: medium;
  padding-bottom: 60px;
} */

h2 {
  font-size: medium;
  font-weight: lighter;
}

h3 {
  font-size: small;
}

section{
  padding-bottom: 60px;
}

button {
  background: #134d71;
  color: white;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px
}

.type-label {
  margin-left: 4px;
  margin-right: 50px;
  font-style: italic;
  font-weight: normal;
}

.custom-label {
  margin: auto;
}

.message-type {
  color: black;
  background-color: white;
  height: 30px;
  width: 450px;
  margin: auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.radio-check{
  margin-left: 25px;
}
.photo-message {
  color: black;
  background-color: white;
  height: 80px;
  width: 600px;
  margin: auto;
  padding-top: 20px;
  border-radius: 5px;
}

.pop-message {
  color: black;
  background-color: white;
  height: 80px;
  width: 600px;
  margin: auto;
  padding-top: 20px;
  border-radius: 5px;
  font-weight: normal;
}
.custom-message {
  color: black;
  background-color: white;
  height: 80px;
  width: 600px;
  margin: auto;
  padding-top: 20px;
  border-radius: 5px;
  font-weight: normal;
}

.custom-text {
  font-family: 'Quicksand', sans-serif;
}

.svg-wrapper {
  display:block;
  margin:auto;
}

.hidden {
  display: none!important;
}
